<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= f.text_field :title %></td>
        <td><%= f.text_field :text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">
  $('.submit').click(function(e) {
    e.preventDefault();

    console.log(JSON.stringify($('.form_for').serialize()));
  });  
</script>
