<p id="notice"><%= notice %></p>

<h1>Boxes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boxes.each do |box| %>
      <tr id="box-<%= box.id %>">
        <td><%= box.name %></td>
        <td><%= link_to 'Show', box %></td>
        <td><%= link_to 'Edit', edit_box_path(box) %></td>
        <td><%= link_to 'Destroy', box, remote: true, method: :delete, data: { element: box.id }, class: 'btn-destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Box', new_box_path %>

<script type="text/javascript">
  // $('.btn-destroy').each(function(index, value) {
  //   $(this).click(function(e) {
  //     e.preventDefault();
  //     e.stopPropagation();
  //     $.ajax({
  //       type: 'POST',
  //       url: `/boxes/${$(this).data('element')}`,
  //       dataType: 'json',
  //       data: {'_method' : 'delete'},
  //       // contentType: 'text/javascript',
  //       success: function(result) {
  //         // console.log(result.id);
  //       }
  //     });
  //   });
  // });
</script>